{
  "srl_nokia-interfaces:interface": [
{% for u in spine.uplinks %}
    {
      "name": "{{ u.local_intf | srl_ifname }}",
      "admin-state": "enable",
      "subinterface": [
        {
          "index": 0,
          "type": "srl_nokia-interfaces:routed",
          "admin-state": "enable",
          "ipv4": {
            "admin-state": "enable",
            "address": [
              {
                "ip-prefix": "{{ u.local_ip }}"
              }
            ]
          }
        }
      ]
    },
{% endfor %}
    {
      "name": "mgmt0",
      "admin-state": "enable",
      "subinterface": [
        {
          "index": 0,
          "admin-state": "enable",
          "ipv4": {
            "admin-state": "enable",
            "srl_nokia-interfaces-ip-dhcp:dhcp-client": {
              
            }
          },
          "ipv6": {
            "admin-state": "enable",
            "srl_nokia-interfaces-ip-dhcp:dhcp-client": {
              
            }
          }
        }
      ]
    },
    {
      "name": "system0",
      "subinterface": [
        {
          "index": 0,
          "ipv4": {
            "admin-state": "enable",
            "address": [
              {
                "ip-prefix": "{{ spine.system_ip }}/32"
              }
            ]
          }
        }
      ]
    }
  ],
  "srl_nokia-network-instance:network-instance": [
    {
      "name": "default",
      "interface": [
{% for u in spine.uplinks %}
        {
          "name": "{{ u.local_intf | srl_ifname }}.0"
        },
{% endfor %}
        {
          "name": "system0.0"
        }
      ],
      "protocols": {
        "srl_nokia-isis:isis": {
          "instance": [
            {
              "name": "ISIS",
              "admin-state": "enable",
              "level-capability": "L2",
              "max-ecmp-paths": 2,
              "net": [
                "{{ spine.isis_net }}"
              ],
              "ipv4-unicast": {
                "admin-state": "enable"
              },
              "interface": [
{% for u in spine.uplinks %}
                {
                  "interface-name": "{{ u.local_intf | srl_ifname }}.0",
                  "circuit-type": "point-to-point",
                  "ipv4-unicast": {
                    "admin-state": "enable"
                  }
                },
{% endfor %}
                {
                  "interface-name": "system0.0",
                  "ipv4-unicast": {
                    "admin-state": "enable"
                  }
                }
              ]
            }
          ]
        }
      }
    },
    {
      "name": "mgmt",
      "type": "srl_nokia-network-instance:ip-vrf",
      "admin-state": "enable",
      "description": "Management network instance",
      "interface": [
        {
          "name": "mgmt0.0"
        }
      ],
      "protocols": {
        "srl_nokia-linux:linux": {
          "import-routes": true,
          "export-routes": true,
          "export-neighbors": true
        }
      }
    }
  ]
}
